<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkm30NE9LFKLnmWfBO6EEvDJmk0Qhy2Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>1071101637634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodiesV6</string>
	<key>PROJECT_ID</key>
	<string>foodies-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>foodies-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071101637634:ios:41d2d36ad3d2d6401d631b</string>
</dict>
</plist>